table {
  width: 365px;
  height: 192px;
  table-layout: fixed;
  margin-bottom: 10px;
  page-break-after: always;
  page-break-inside: avoid;
}
tr {
}
td {
  vertical-align: top;
  width: auto;
  color: black !important;
}
.right-align{
  text-align: right;
}
.spacer {
  padding-top: 3px;
  padding-left: 5px;
}
.spacer-left {
  padding-left: 5px;
}
.spacer-right{
  padding right: 5px;
}
.seccode {
  font-size: 24pt;
}
.center {
  text-align: center;
}
img {
  height: 42px;
  width: 42px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-big{
  height: 70px !important;
  width: 70px !important;
}
@page{
        size:   4in 2in;
        margin: 1px;
        width: 119%;
}